.food-table-container {
    margin: 20px;
    overflow-x: auto;
  }
  
  .food-table {
    width: 70%;
    margin: auto; /* Центриране на таблицата */
    margin-top: 10px;
    border-collapse: collapse;
  }
  
  .food-table th,
  .food-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #fde0dc;
  }
  
  .food-table th {
    background-color: #ec407a; /* Розов цвят за заглавните редове */
    color: white;
  }
  
  .food-table tr:nth-child(even) {
    background-color: #fce4ec; /* По-светъл розов за четните редове */
  }
  
  .food-table tr:hover {
    background-color: #f8bbd0; /* По-наситен розов при ховър */
  }
  
  .totals-row {
    font-weight: bold;
    background-color: #fce4ec;
  }
  
  .food-table-container h3 {
    margin-left: 2%;
    font-size: 1.5rem;
    color: #ec407a; /* Розов цвят за заглавията */
  }
  
  /* Button styling */
  .food-table .edit-btn,
  .food-table .delete-btn {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 0.8rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .food-table .edit-btn {
    background-color: #ec407a; /* Розов за редактиращия бутон */
    color: white;
  }
  
  .food-table .edit-btn:hover {
    background-color: #d81b60; /* По-тъмен розов при ховър */
  }
  
  .food-table .delete-btn {
    background-color: #f06292; /* Светъл розов за бутона за изтриване */
    color: white;
  }
  
  .food-table .delete-btn:hover {
    background-color: #ec407a; /* По-наситен розов при ховър */
  }
  
  .pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination-controls button {
    padding: 10px 15px;
    margin: 0 10px;
    background-color: #ec407a; /* Розов за бутоните на пагинацията */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .pagination-controls button:hover {
    background-color: #d81b60; /* По-тъмен розов при ховър */
  }
  
  .pagination-controls button:disabled {
    background-color: #f8bbd0;
    cursor: not-allowed;
  }
  
  .pagination-controls span {
    margin: 0 10px;
    font-size: 1rem;
  }
  