.add-new-product-button {
  display: flex;
  margin-top: 3%;
  margin-left: 3%;
  margin: auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #f8bbd0;
  color: rgb(0, 0, 0);
  transition: background-color 0.3s ease;
}

.add-new-product-button:hover {
  background-color: #ec407a;
  color: white;
}
